ul {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg-color);
}

li {
    list-style: none;
}

a {
    display: inline-block;
    padding: 0.5rem 2rem;

    text-decoration: none;
    color: var(--text-color);
}

a.active {
    background-color: var(--nav-active-bg-color);
}

a:not(.active) {
    background-color: var(--nav-item-bg-color);
}

a:hover, a:hover > a{
    cursor: pointer;
    color: var(--text-highlight-color);
}

a:not(.active):hover {
    background-color: var(--nav-item-hl-bg-color);
}

a.active:hover {
    background-color: var(--nav-active-hl-bg-color);
}

